html, body {
	height: 100%;
	margin: 0;
}

.container {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  /*margin-bottom: -50px;*/
}

#logo {
	margin-right: 10px;
	margin-left: 10px;
}

footer {
  	height: 50px;
  	line-height: 50px;
}


.navbar-dark {
	background-color: #303030;
	border-bottom: 5px solid #813B81;
}
/*
#home {
	background-color: #6d6d6d;
	width: 100%;
	height: 100vh;
}*/

/* LARGE DESKSTOP SCREENS */
@media (min-width: 1281px) {

  	#navigationBar .navbar-brand {
		margin-left: 6.25%;
	}

	#navbar-nav .navbar-nav {
		margin-right: 8.25%;
	}

}

/* DESKTOP AND LAPTOP */
@media (min-width: 1025px) and (max-width: 1280px) {

	#navigationBar .navbar-brand {
		margin-left: 3.5%;
	}

	#navbar-nav .navbar-nav {
		margin-right: 4%;
	}

}

/* TABLETS AND IPADS */
@media (min-width: 768px) and (max-width: 1024px) {
  
  
}

/* TABLETS AND IPADS (LANDSCAPE) */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
}


/* MOST MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 480px) {
	  
}




body #home-jumbotron {
	height: 100vh;
	background-color: #D8D8D8;
	padding: 20%;
}


#home-jumbotron h1, #home-jumbo-tron h4 {
	font-family: 'Poppins', sans-serif;
}

#home-jumbotron h1 {
	font-size: 50px;
	font-weight: 
}


#home-jumbotron h4 {
	letter-spacing: 2px;
}

/*.down-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 61px 86.5px 0 86.5px;
	border-color: #813B81 transparent transparent transparent;
	-webkit-transform:rotate(360deg);
	position: relative;
	top: 100px;
}	*/
#navigationBar {
	padding-bottom: 0;
}

#home-section {
	padding-left: 0;
	padding-right: 0;
}

.navbar-nav li {
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

.navbar-nav li:hover {
	background-color: #813B81;
}

.navbar-nav a:hover {
	color: white;
}


.down-arrow {
	color: #813B81;
	margin-top: 30px;
	font-size: 100px;
}

.about-section {
	margin-bottom: 3%;
}

#profile-pic {
	width: 25%;
	border-radius: 100%;
	margin-top: 5%;
}

.profile-desc {
	margin-top: 40px;
	margin-left: 15px;
	font-family: 'Quicksand', sans-serif;
}

.page-title {
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: #303030;
	padding-top: 10px;
}

.about-section {
	padding-bottom: 50px;
}

.name {
	color: #813B81;
	font-weight: bold;
	font-size: 22px;
}

.skill-content {
	margin: 15px;
}

.skill_title {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
}

.section_title {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	margin-top: 30px;
}

.progress {
	margin-bottom: 10px;
}

.cards-section {
	margin-top: 5%;
}

.projects-section {
	padding-bottom: 90px;
}


.projects-section a {
	background-color: #813B81;
	border-style: none;
	width: 100%;
}

.card-text, .card-title {
	font-family: 'Quicksand', sans-serif;
}

.contact-section p {
	font-family: 'Quicksand', san-serif;
}

.contacts-section button  {
	width: 75%;
	background-color: #813B81;
	border-style: none;
	margin-top: 20px;
}

.contacts-section p {
	margin-top: 5%;
	font-family: 'Quicksand', sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.contacts-section form {
	margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background-color: #D8D8D8;
}

.contacts-section .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.project-gallery {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.project-gallery img {
	width: 550px;
	height: 70%;
}

footer {
	background-color: purple;
	color: white;
/*	padding-top: 10px;
	padding-bottom: 10px;*/
}